.pokemon-modal {
  max-width: 100%;
}

@media(min-width: 768px) {
  .simplePokemonImage {
    width: 160px;
    height: 160px;
  }

  p {
    font-size: 22px;
  }
}

.modal-content {
  min-height: 100vh;
}
