<div class="row mr-3 ml-3 mb-3" infiniteScroll (scrolled)="getPokemons()" [infiniteScrollDistance]="2"
[infiniteScrollThrottle]="50">
  <ng-container *ngIf="pokemonList.results.length > 0">
    <div *ngFor="let simplePokemon of pokemonList.results; index as i" class="col-lg-3 col-md-4 col-6 text-center">
      <app-pokemon-simple-details [simplePokemon]="simplePokemon" [pokemonId]="getPokemonId(simplePokemon.url)"></app-pokemon-simple-details>
    </div>
  </ng-container>

  <div class="col-12 text-center mb-2" *ngIf="!loading && pokemonList.results.length === 0">
    <h3>There are no Pokemons to show</h3>
  </div>

  <div class="col-12 text-center">
    <button *ngIf="!loading && pokemonList.next" class="btn btn-dark m-2" (click)="getPokemons()">Load more...</button>
    <app-spinner *ngIf="loading"></app-spinner>
  </div>
</div>
