<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div *ngIf="loading" class="col-12 text-center">
      <app-spinner></app-spinner>
      <h4 class="mt-1">Prepare to battle...</h4>
    </div>
    <ng-container *ngIf="!loading">
      <div class="col-md-10 col-12 text-center mb-3 mx-auto">
        <h6 class="mb-0">Use your turn to pick a move and beat your opponent. The moves vary on each turn.</h6>
      </div>
      <div class="col-lg-7 mx-auto">
        <div id="pokemonContainer" class="card shadow border-white">
          <div class="col-12 mx-auto text-right text-white">
            <h5 class="mt-2"><span class="badge badge-light border-dark border">
                <ng-container *ngIf="!hideImages">{{pokemonsLife[defender]}}</ng-container> hp
              </span>
            </h5>
            <br />
            <div class="poke-image-div">
              <img class="fadeIn" *ngIf="!hideImages" [src]="getImageUrl(pokemonFighters[defender].id, '')"
                width="150px" [alt]="pokemonFighters[defender].name">
            </div>
          </div>
          <div class="col-12 mx-auto text-white">
            <div class="poke-image-div">
              <img class="fadeIn" *ngIf="!hideImages" [src]="getImageUrl(pokemonFighters[attacker].id, 'back/')"
                width="150px" [alt]="pokemonFighters[attacker].name">
            </div>
            <br />
            <h5><span class=" badge badge-light border-dark border">
                <ng-container *ngIf="!hideImages">{{pokemonsLife[attacker]}}</ng-container> hp
              </span></h5>
          </div>
        </div>
      </div>
      <div class="col-lg-5 mx-auto mb-3 my-auto">
        <div *ngIf="messageToShow" class="alert alert-dark mt-1" role="alert">
          <p class="mb-0 text-center" [innerHTML]="messageToShow">
          </p>
        </div>
        <div class="row" *ngIf="showAttacks">
          <div class="col-12 text-center mt-2">
            <h4>What will <b>{{pokemonFighters[attacker].name | titlecase}}</b> do?</h4>
          </div>
          <div *ngFor="let move of attackerMoves; index as i" class="col-md-6">
            <div class="card m-2 text-white pointer text-center fadeIn" (click)="attack(move)"
              [ngClass]="{'border-primary bg-primary ': i === 0, 'border-danger bg-danger': i === 1, 'border-warning bg-warning': i === 2, 'border-info bg-info': i === 3}">
              <h5 class="mt-2 mb-2">{{move.move}}</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 text-center mt-2" *ngIf="endedGame" (click)="loadInitialGame()">
        <button class="btn btn-dark shadow">Rematch!</button>
      </div>
    </ng-container>
  </div>
</div>
