<div class="row mt-4 mb-4">
  <div class="col-2 d-sm-block d-none"></div>
  <div class="col-md-8 col-12 text-center">
    <a [routerLink]="['/' + languages[currentLanguage].code]">
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pok%C3%A9mon_logo.svg"
        alt="Pokemon logo">
    </a>
  </div>
  <div class="col-md-2 col-12 text-center">
    <ng-container *ngFor="let language of languages; index as i">
      <img *ngIf="i !== currentLanguage" class="mb-2 shadow pointer m-2" [src]="language.flag" width="30px"
        height="20px" [title]="language.language" [alt]="language.language" (click)="changeLanguage(language.code)">
    </ng-container>
  </div>
  <div class="col-12 text-center">
    -> <b><a href="https://gabrielpinto.me" class="text-dark" target="blank">Gabriel Pinto</a></b>
  </div>
</div>
